meta(charset="UTF-8")
meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
title= siteTitle
include ./_ogp
include ./_favicon
link(rel="stylesheet", href= assetsPath + "assets/css/common.css")
link(rel="stylesheet", href= assetsPath + "assets/css/" + pageKey + ".css")
//link(href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
link(rel="stylesheet" href=assetsPath + "assets/fonts/icomoon/style.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

//- typekit 筑紫丸ゴシック利用の為のスクリプト
script.
	(function(d) {
		var config = {
			kitId: 'kwp4vyw',
			scriptTimeout: 3000,
			async: true
		},
		h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	})(document);
