meta(property="og:locale" content="ja_JP")
meta(property="og:type" content="website")
meta(property="twitter:card" content="summary")
meta(property="og:title" content=siteTitle)
meta(property="twitter:title" content=siteTitle)
meta(property="og:url" content=rootPath)
meta(property="og:site_name" content=siteTitle)
meta(property="twitter:site" content=siteTitle)
meta(property="og:image" content=rootPath + imgPath + "common/ogp.jpg")
meta(property="twitter:image" content=rootPath + imgPath + "common/ogp.jpg")
meta(property="article:publisher" content="be-topia")
